
  <div class="speech-bubble">
    <div id="message-<%= message.id %>" class="<%= message.user == current_user ? 'right-message' : '' %>">
        <p><%= message.content %></p>
    </div>
  </div>
  <div class="message-info-container">
    <small>
      <strong><%= message.user.user_name %></strong>
      <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
    </small>
  </div>
