<div class="container chatroom">
  <h1><%= @chatroom.name %></h1>
  <div class="messages">
    <%= @chatroom.messages.each do |message| %>
      <div class="message-<%= message.id %>">
        <%= message.user.user_name %>
        <%= message.created_at.strftime("%a %b %e at %l:%M %p") %>
        <%= message.content %>
      </div>
    <% end %>
  </div>
</div>

<%= simple_form_for [@chatroom, @message], remote: true do |f|%>
  <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
<% end %>
