<div class="ranking-page">
  <div class="top-3">
    <% @profiles.first(3).each_with_index do |profile, index| %>
      <div>
          <div class="score-info">
            <% if index == 0 %>
              <%= link_to user_path(profile.user) do %>
                <div class="first-won">
                  <%= cl_image_tag profile.user.photo.key, class: "avatar-bordered", id: "avatar-won" %>
                  <svg width="38" height="38" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="34" cy="34" r="34" fill="#F2BD00"/>
                  <path d="M49.5509 44.288V53H20.3189V44.288H30.5429V22.472C29.9669 23.192 28.9829 23.96 27.5909 24.776C26.2469 25.592 24.7589 26.288 23.1269 26.864C21.5429 27.44 20.1269 27.728 18.8789 27.728V18.728C19.7429 18.728 20.7749 18.464 21.9749 17.936C23.2229 17.36 24.4469 16.688 25.6469 15.92C26.8949 15.152 27.9509 14.408 28.8149 13.688C29.7269 12.92 30.3029 12.32 30.5429 11.888H40.4069V44.288H49.5509Z" fill="white"/>
                  </svg>
                </div>
              <% end %>
            <% elsif index == 1 %>
              <%= link_to user_path(profile.user) do %>
                <div class="second-won">
                  <%= cl_image_tag profile.user.photo.key, class: "avatar-bordered", id: "avatar-second" %>
                  <svg width="33" height="33" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="34" cy="34" r="34" fill="#8D98A7"/>
                  <path d="M15.9157 52C15.9157 49.168 16.2277 46.648 16.8517 44.44C17.5237 42.232 18.6757 40.24 20.3077 38.464C21.9397 36.688 24.2437 34.96 27.2197 33.28C29.8597 31.888 32.0677 30.712 33.8437 29.752C35.6197 28.792 36.9637 27.88 37.8757 27.016C38.8357 26.104 39.3157 25.048 39.3157 23.848C39.3157 22.408 38.7397 21.184 37.5877 20.176C36.4357 19.12 34.8037 18.592 32.6917 18.592C30.3877 18.592 28.3957 19.144 26.7157 20.248C25.0837 21.352 23.6677 22.624 22.4677 24.064L16.3477 17.008C17.2117 16.096 18.5077 15.112 20.2357 14.056C21.9637 13 24.0277 12.088 26.4277 11.32C28.8277 10.552 31.4677 10.168 34.3477 10.168C39.2437 10.168 43.0357 11.32 45.7237 13.624C48.4597 15.88 49.8277 18.808 49.8277 22.408C49.8277 24.664 49.2997 26.584 48.2437 28.168C47.2357 29.704 45.9637 31.024 44.4277 32.128C42.9397 33.184 41.4997 34.12 40.1077 34.936C37.0357 36.472 34.6117 37.816 32.8357 38.968C31.1077 40.12 29.7157 41.56 28.6597 43.288H50.6197V52H15.9157Z" fill="white"/>
                  </svg>
                </div>
              <% end %>
            <% else %>
              <%= link_to user_path(profile.user) do %>
                <div class="third-won">
                  <%= cl_image_tag profile.user.photo.key, class: "avatar-bordered", id: "avatar-third" %>
                  <svg width="28" height="28" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="34" cy="34" r="34" fill="#BF8970"/>
                  <path d="M39.7337 31.604C42.255 32.0107 44.2883 33.2307 45.8337 35.264C47.4197 37.2567 48.2127 39.656 48.2127 42.462C48.2127 45.024 47.562 47.2403 46.2607 49.111C44.9593 50.9817 43.109 52.4253 40.7097 53.442C38.351 54.4587 35.5653 54.967 32.3527 54.967C26.1713 54.967 21.454 53.015 18.2007 49.111L22.8367 43.316C23.894 44.658 25.1547 45.695 26.6187 46.427C28.1233 47.159 29.9533 47.525 32.1087 47.525C34.5893 47.525 36.4803 47.0167 37.7817 46C39.083 45.024 39.7337 43.5397 39.7337 41.547C39.7337 39.4323 38.9813 37.8057 37.4767 36.667C35.972 35.5283 33.6947 34.959 30.6447 34.959H28.9367V28.859H30.8277C33.3083 28.859 35.24 28.31 36.6227 27.212C38.046 26.0733 38.7577 24.6297 38.7577 22.881C38.7577 21.2543 38.1883 20.0343 37.0497 19.221C35.911 18.367 34.4267 17.94 32.5967 17.94C28.8147 17.94 25.9273 19.5667 23.9347 22.82L18.8107 17.086C19.6647 15.866 20.8237 14.7883 22.2877 13.853C23.7923 12.9177 25.5003 12.1857 27.4117 11.657C29.3637 11.1283 31.397 10.864 33.5117 10.864C36.277 10.864 38.6967 11.3113 40.7707 12.206C42.8853 13.1007 44.5323 14.3613 45.7117 15.988C46.891 17.6147 47.4807 19.5057 47.4807 21.661C47.4807 23.2877 47.1553 24.8127 46.5047 26.236C45.854 27.6187 44.939 28.798 43.7597 29.774C42.621 30.7093 41.279 31.3193 39.7337 31.604Z" fill="white"/>
                  </svg>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
  <br>
  <div class="ranking">
    <% @profiles.each_with_index do |profile, index| %>
      <% if index == 0 %>
        <div class="card-match" id="first">
          <div class="d-flex">
            <%= link_to user_path(profile.user) do %>
              <div> <%= cl_image_tag profile.user.photo.key, class: "avatar-bordered-medium" %> </div>
            <% end %>
            <div class="match">
              <h6><strong><%= profile.user.user_name %></strong></h6>
              <p><strong>Games played: </strong> <%= profile.user.participations.where(status: 'accepted').size %></p>
            </div>
          </div>
          <div class="trophy">
            <h4><svg width="50" height="40" viewBox="0 0 93 108" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <line x1="46.5" y1="54" x2="46.5" y2="85" stroke="#F5455C" stroke-width="7"/>
                  <path d="M12 0H81L74.1 40.2735C74.1 40.2735 74.1 62 46.5 62C18.9 62 18.9 40.2735 18.9 40.2735L12 0Z" fill="#F5455C"/>
                  <ellipse cx="46.5" cy="85" rx="11.5" ry="8" fill="#50B0A7"/>
                  <ellipse cx="46.5" cy="96.5" rx="19.5" ry="11.5" fill="#50B0A7"/>
                  <rect x="19" y="100" width="55" height="8" fill="#50B0A7"/>
                  <path d="M66 8C66 8 89 19.875 89 27C89 34.125 66 46 66 46" stroke="#F5455C" stroke-width="7"/>
                  <path d="M27 46C27 46 4 34.125 4 27C4 19.875 27 8 27 8" stroke="#F5455C" stroke-width="7"/>
                  <path d="M26.7714 31.0329C24.3233 18.8694 26.9978 5.74048 25.3984 6.0624C23.7989 6.38431 20.9427 17.5138 22.5679 29.8744C24.1931 42.235 32.6642 50.4321 34.2637 50.1101C35.8631 49.7882 29.2195 43.1963 26.7714 31.0329Z" fill="white"/>
                  <path d="M31.9194 95.7003C32.4318 92.9427 35.0277 90.5871 34.3747 90.4657C33.7218 90.3444 31.2949 92.2725 30.4428 94.974C29.5907 97.6756 31.8661 100.33 32.5191 100.452C33.172 100.573 31.407 98.4578 31.9194 95.7003Z" fill="white"/>
                  <path d="M39.3762 82.8356C39.7128 81.0239 41.6145 79.5127 41.1241 79.4215C40.6337 79.3304 38.8512 80.5622 38.2595 82.3312C37.6678 84.1002 39.4145 85.8912 39.9049 85.9823C40.3954 86.0735 39.0395 84.6473 39.3762 82.8356Z" fill="white"/>
                  </svg><%= profile.point_sum %></h4>
          </div>
        </div>
      <% elsif index == 1 %>
        <div class="card-match" id="second">
            <div class="d-flex">
              <%= link_to user_path(profile.user) do %>
                <div> <%= cl_image_tag profile.user.photo.key, class: "avatar-bordered-medium" %> </div>
              <% end %>
              <div class="match">
                <h6><strong><%= profile.user.user_name %></strong></h6>
                <p><strong>Games played: </strong> <%= profile.user.participations.where(status: 'accepted').size %></p>
              </div>
            </div>
          <div class="trophy">
            <h4><svg width="50" height="40" viewBox="0 0 93 108" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="46.5" y1="54" x2="46.5" y2="85" stroke="#F5455C" stroke-width="7"/>
                <path d="M12 0H81L74.1 40.2735C74.1 40.2735 74.1 62 46.5 62C18.9 62 18.9 40.2735 18.9 40.2735L12 0Z" fill="#F5455C"/>
                <ellipse cx="46.5" cy="85" rx="11.5" ry="8" fill="#50B0A7"/>
                <ellipse cx="46.5" cy="96.5" rx="19.5" ry="11.5" fill="#50B0A7"/>
                <rect x="19" y="100" width="55" height="8" fill="#50B0A7"/>
                <path d="M66 8C66 8 89 19.875 89 27C89 34.125 66 46 66 46" stroke="#F5455C" stroke-width="7"/>
                <path d="M27 46C27 46 4 34.125 4 27C4 19.875 27 8 27 8" stroke="#F5455C" stroke-width="7"/>
                <path d="M26.7714 31.0329C24.3233 18.8694 26.9978 5.74048 25.3984 6.0624C23.7989 6.38431 20.9427 17.5138 22.5679 29.8744C24.1931 42.235 32.6642 50.4321 34.2637 50.1101C35.8631 49.7882 29.2195 43.1963 26.7714 31.0329Z" fill="white"/>
                <path d="M31.9194 95.7003C32.4318 92.9427 35.0277 90.5871 34.3747 90.4657C33.7218 90.3444 31.2949 92.2725 30.4428 94.974C29.5907 97.6756 31.8661 100.33 32.5191 100.452C33.172 100.573 31.407 98.4578 31.9194 95.7003Z" fill="white"/>
                <path d="M39.3762 82.8356C39.7128 81.0239 41.6145 79.5127 41.1241 79.4215C40.6337 79.3304 38.8512 80.5622 38.2595 82.3312C37.6678 84.1002 39.4145 85.8912 39.9049 85.9823C40.3954 86.0735 39.0395 84.6473 39.3762 82.8356Z" fill="white"/>
                </svg><%= profile.point_sum %></h4>
          </div>
        </div>
      <% elsif index == 2 %>
        <div class="card-match" id="third">
          <div class="d-flex">
            <%= link_to user_path(profile.user) do %>
              <div> <%= cl_image_tag profile.user.photo.key, class: "avatar-bordered-medium" %> </div>
            <% end %>
            <div class="match">
              <h6><strong><%= profile.user.user_name %></strong></h6>
              <p><strong>Games played: </strong> <%= profile.user.participations.where(status: 'accepted').size %></p>
            </div>
          </div>
          <div class="trophy">
            <h4><svg width="50" height="40" viewBox="0 0 93 108" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="46.5" y1="54" x2="46.5" y2="85" stroke="#F5455C" stroke-width="7"/>
                <path d="M12 0H81L74.1 40.2735C74.1 40.2735 74.1 62 46.5 62C18.9 62 18.9 40.2735 18.9 40.2735L12 0Z" fill="#F5455C"/>
                <ellipse cx="46.5" cy="85" rx="11.5" ry="8" fill="#50B0A7"/>
                <ellipse cx="46.5" cy="96.5" rx="19.5" ry="11.5" fill="#50B0A7"/>
                <rect x="19" y="100" width="55" height="8" fill="#50B0A7"/>
                <path d="M66 8C66 8 89 19.875 89 27C89 34.125 66 46 66 46" stroke="#F5455C" stroke-width="7"/>
                <path d="M27 46C27 46 4 34.125 4 27C4 19.875 27 8 27 8" stroke="#F5455C" stroke-width="7"/>
                <path d="M26.7714 31.0329C24.3233 18.8694 26.9978 5.74048 25.3984 6.0624C23.7989 6.38431 20.9427 17.5138 22.5679 29.8744C24.1931 42.235 32.6642 50.4321 34.2637 50.1101C35.8631 49.7882 29.2195 43.1963 26.7714 31.0329Z" fill="white"/>
                <path d="M31.9194 95.7003C32.4318 92.9427 35.0277 90.5871 34.3747 90.4657C33.7218 90.3444 31.2949 92.2725 30.4428 94.974C29.5907 97.6756 31.8661 100.33 32.5191 100.452C33.172 100.573 31.407 98.4578 31.9194 95.7003Z" fill="white"/>
                <path d="M39.3762 82.8356C39.7128 81.0239 41.6145 79.5127 41.1241 79.4215C40.6337 79.3304 38.8512 80.5622 38.2595 82.3312C37.6678 84.1002 39.4145 85.8912 39.9049 85.9823C40.3954 86.0735 39.0395 84.6473 39.3762 82.8356Z" fill="white"/>
                </svg><%= profile.point_sum %></h4>
          </div>
        </div>
      <% else %>
        <div class="card-match" id="others">
          <div class="d-flex">
            <%= link_to user_path(profile.user) do %>
              <div> <%= cl_image_tag profile.user.photo.key, class: "avatar-bordered-medium" %> </div>
            <% end %>
            <div class="match">
              <h6><strong><%= profile.user.user_name %></strong></h6>
              <p><strong>Games played: </strong> <%= profile.user.participations.where(status: 'accepted').size %></p>
            </div>
          </div>
          <div class="trophy">
          <h4><svg width="50" height="40" viewBox="0 0 93 108" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="46.5" y1="54" x2="46.5" y2="85" stroke="#F5455C" stroke-width="7"/>
            <path d="M12 0H81L74.1 40.2735C74.1 40.2735 74.1 62 46.5 62C18.9 62 18.9 40.2735 18.9 40.2735L12 0Z" fill="#F5455C"/>
            <ellipse cx="46.5" cy="85" rx="11.5" ry="8" fill="#50B0A7"/>
            <ellipse cx="46.5" cy="96.5" rx="19.5" ry="11.5" fill="#50B0A7"/>
            <rect x="19" y="100" width="55" height="8" fill="#50B0A7"/>
            <path d="M66 8C66 8 89 19.875 89 27C89 34.125 66 46 66 46" stroke="#F5455C" stroke-width="7"/>
            <path d="M27 46C27 46 4 34.125 4 27C4 19.875 27 8 27 8" stroke="#F5455C" stroke-width="7"/>
            <path d="M26.7714 31.0329C24.3233 18.8694 26.9978 5.74048 25.3984 6.0624C23.7989 6.38431 20.9427 17.5138 22.5679 29.8744C24.1931 42.235 32.6642 50.4321 34.2637 50.1101C35.8631 49.7882 29.2195 43.1963 26.7714 31.0329Z" fill="white"/>
            <path d="M31.9194 95.7003C32.4318 92.9427 35.0277 90.5871 34.3747 90.4657C33.7218 90.3444 31.2949 92.2725 30.4428 94.974C29.5907 97.6756 31.8661 100.33 32.5191 100.452C33.172 100.573 31.407 98.4578 31.9194 95.7003Z" fill="white"/>
            <path d="M39.3762 82.8356C39.7128 81.0239 41.6145 79.5127 41.1241 79.4215C40.6337 79.3304 38.8512 80.5622 38.2595 82.3312C37.6678 84.1002 39.4145 85.8912 39.9049 85.9823C40.3954 86.0735 39.0395 84.6473 39.3762 82.8356Z" fill="white"/>
            </svg><%= profile.point_sum %></h4>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
