<h1>Ranking</h1>

<h3>Top 3</h2>



<div class="top-3">
<% @profiles.first(3).each_with_index do |profile, index| %>
  <div>
      <div class="score-info">
        <div class="rank-top-3"><p><%= index + 1  %></p></div>
        <%= cl_image_tag profile.user.photo.key, class: "match-avatar-top-3", id: "img-profile" %>
        <div class="stats">
            <p><strong><%= profile.user.user_name %></strong></p>
            <p><strong>Points: </strong><%= profile.point_sum %></p>
        </div>
      </div>
    </div>
<% end %>
</div>

<h3>Others</h2>

<div class="rest-players">
<% @profiles.each_with_index do |profile, index| %>
    <div class="score-profile">
      <div class="others-rank"><p><%= index + 1 %></p></div>
      <div> <%= cl_image_tag profile.user.photo.key, class: "match-avatar-top-3", id: "img-profile" %> </div>
      <div class="profile-stats">
          <p><strong>Name: </strong><%= profile.user.user_name %></p>
          <p><strong>Points: </strong><%= profile.point_sum %></p>
          <p><strong>Games played: </strong> <%= profile.user.participations.where(status: 'accepted').size %></p></div>
    </div>
<% end %>
</div>
