<div class="container">
  <div class="personal-info">
    <%= cl_image_tag @user.photo.key, class: "avatar-bordered"%>
    <h3><strong><%= @user.user_name %></strong></h3>
    <%= link_to users_path do %>
      <%= render"./shared/point_sum"%>
    <% end %>
  </div>
  <div class="user-infos">
    <div class="user-info">
      <div class="symbol">
        <svg width="17" height="60" viewBox="0 0 64 127" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M27 49H36V121.915C32.6538 128.706 30.6693 128.684 27 121.915V49Z" fill="black"/>
          <circle cx="32" cy="32" r="31.5" fill="#F5455C" stroke="black"/>
          <path d="M12.0959 36.5895C9.87096 24.6565 13.779 11.735 11.8629 12.0637C9.94686 12.3925 5.93502 23.3507 7.17242 35.4838C8.40981 47.6169 18.0041 55.6057 19.9202 55.277C21.8362 54.9482 14.3209 48.5225 12.0959 36.5895Z" fill="white"/>
        </svg>
      </div>
      <p><%= @user.profile.venue.address %></p>
    </div>
    <div class="user-info">
      <div class="symbol">
        <svg width="51" height="60" viewBox="0 0 151 140" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="69.5" cy="10.3938" r="9.5" fill="#50B0A7"/>
          <path d="M78.3417 53.3204C67.1283 68.3071 70.5565 81.457 82.8003 92.4456C95.0442 103.434 108.067 105.355 120.685 91.3225C131.899 76.3358 138.2 52.2623 124.442 43.2665C110.683 34.2707 89.5551 38.3336 78.3417 53.3204Z" fill="#F5455C"/>
          <rect width="10.7412" height="62.8839" rx="5.37059" transform="matrix(-0.758303 -0.651902 -0.652969 0.757385 112.754 65.9735)" fill="#F5455C"/>
          <path d="M125.195 88.0385C106.083 109.282 98.8602 98.5144 86.4783 87.3735C74.8243 76.8877 63.6801 71.5561 80.6458 50.4962C93.0767 36.6793 114.388 31.5542 126.042 42.0401C137.695 52.526 137.626 74.2215 125.195 88.0385Z" fill="#50B0A7"/>
          <path d="M117.599 75.438C109.75 84.1638 97.1319 88.3905 98.6376 89.7846C100.143 91.1787 111.299 88.1708 119.948 80.1459C128.596 72.1209 128.565 59.5798 127.06 58.1857C125.554 56.7916 125.447 66.7122 117.599 75.438Z" fill="white"/>
          <path d="M73.717 12.8361C71.1887 15.6469 66.4352 16.3708 67.1358 17.0195C67.8364 17.6682 72.0903 17.3105 74.988 14.8288C77.8857 12.3471 76.9922 7.48909 76.2916 6.8404C75.591 6.19172 76.2453 10.0252 73.717 12.8361Z" fill="white"/>
          <path d="M19.2059 97.0459C27.9682 111.764 40.2887 113.455 53.8587 106.934C67.4287 100.413 73.6003 90.0681 66.1355 74.4952C57.3732 59.7774 39.2094 46.042 26.7962 54.5396C14.3831 63.0373 10.4435 82.3281 19.2059 97.0459Z" fill="#50B0A7"/>
          <rect width="9.82948" height="57.5464" rx="4.91474" transform="matrix(-0.891898 0.452237 0.450981 0.892534 41.9235 72.3543)" fill="#50B0A7"/>
          <path d="M64.9323 69.5333C76.2294 93.1175 64.5994 95.4679 50.8524 102.052C37.9136 108.249 29.5128 115.815 17.6214 94.1108C10.2736 78.7715 13.3786 58.9553 26.3174 52.7581C39.2562 46.5609 57.5845 54.1939 64.9323 69.5333Z" fill="#F5455C"/>
          <path d="M25.7163 82.9147C23.2713 72.4567 26.6997 60.7714 24.8652 61.1725C23.0307 61.5736 19.4523 71.5233 20.9526 82.2152C22.4529 92.9072 31.885 99.4455 33.7195 99.0444C35.554 98.6433 28.1613 93.3728 25.7163 82.9147Z" fill="white"/>
        </svg>
      </div>
      <p><%= @user.profile.equipment %></p>
    </div>
  </div>
  <br>
  <p>Last matches:</p>
  <div class="last-matches">
    <% @lastparticipations.each do |participation| %>
      <% matchparticipations = participation.match.participations %>
      <% winners = []%>
      <% losers = []%>
      <% matchparticipations.each do |part|%>
        <% if part.outcome == "won" %>
          <% winners << part %>
        <% else %>
          <% losers << part %>
        <% end %>
      <% end %>
      <% if participation.outcome == "won" %>
        <div class="last-match won">
         <div class="statstext">
             <i class="fas fa-crown"></i>
          </div>
          <%= link_to match_path(participation.match) do%>
            <div class="stats">
              <div class="winners">
                <% if winners.length == 1 %>
                  <div class="matchavatars-1">
                    <% winners.each do |winner| %>
                      <%= cl_image_tag winner.user.photo.key, class: "avatar-bordered-small", id: "show-avatar-won" %>
                    <% end %>
                  </div>
                <% else %>
                <div class="matchavatars-2">
                    <% winners.each do |winner| %>
                      <%= cl_image_tag winner.user.photo.key, class: "avatar-bordered-small", id: "show-avatar-won" %>
                    <% end %>
                  </div>
                <% end %>
                <% if participation.match.score.score_a > participation.match.score.score_b %>
                  <p><%= participation.match.score.score_a %></p>
                <% else %>
                  <p><%= participation.match.score.score_b %></p>
                <% end %>
              </div>
              <div class="against">
                <p>:</p>
              </div>
              <div class="losers">
                <% if participation.match.score.score_a < participation.match.score.score_b %>
                  <p><%= participation.match.score.score_a %></p>
                <% else %>
                  <p><%= participation.match.score.score_b %></p>
                <% end %>
                <% if losers.length == 1 %>
                  <div class="matchavatars-1">
                    <% losers.each do |loser| %>
                      <%= cl_image_tag loser.user.photo.key, class: "avatar-bordered-small" %>
                    <% end %>
                  </div>
                <% else %>
                <div class="matchavatars-2">
                    <% losers.each do |loser| %>
                      <%= cl_image_tag loser.user.photo.key, class: "avatar-bordered-small" %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% elsif participation.outcome == "lost" %>
        <div class="last-match lost">
          <div class="statstext">
            <i class="fas fa-thumbs-down"></i>
          </div>
          <%= link_to match_path(participation.match) do%>
            <div class="stats">
              <div class="losers">
                <% if losers.length == 1 %>
                  <div class="matchavatars-1">
                    <% losers.each do |loser| %>
                      <%= cl_image_tag loser.user.photo.key, class: "avatar-bordered-small" %>
                    <% end %>
                  </div>
                <% else %>
                  <div class="matchavatars-2">
                    <% losers.each do |loser| %>
                      <%= cl_image_tag loser.user.photo.key, class: "avatar-bordered-small" %>
                    <% end %>
                  </div>
                <% end %>
                <% if participation.match.score.score_a < participation.match.score.score_b %>
                  <p><%= participation.match.score.score_a %></p>
                <% else %>
                  <p><%= participation.match.score.score_b %></p>
                <% end %>
              </div>
              <div class="against">
                <p>:</p>
              </div>
              <div class="winners">
                <% if participation.match.score.score_a > participation.match.score.score_b %>
                  <p><%= participation.match.score.score_a %></p>
                <% else %>
                  <p><%= participation.match.score.score_b %></p>
                <% end %>
                <% if winners.length == 1 %>
                  <div class="matchavatars-1">
                    <% winners.each do |winner| %>
                      <%= cl_image_tag winner.user.photo.key, class: "avatar-bordered-small", id: "show-avatar-won" %>
                    <% end %>
                  </div>
                <% else %>
                  <div class="matchavatars-2">
                    <% winners.each do |winner| %>
                      <%= cl_image_tag winner.user.photo.key, class: "avatar-bordered-small", id: "show-avatar-won" %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
