<div class="container">
  <h1>Find a match</h1>
  <div style="width: 100%; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <% @matches.each do |match| %>
      <% participations = match.participations %>
      <% userparticipants = [] %>
      <% participations.each do |participation| %>
        <% userparticipants << participation.user %>
      <% end %>
      <div class="card-match">
        <%=link_to match_path(match) do %>
          <%= cl_image_tag match.user.photo.key, class: "match-avatar" %>
          <div class="match">
              <h2><%= match.user.user_name %><h2>
              <p><%= match.start_date %> - <%= match.end_date %><p>
              <p><%= match.venue.address %><p>
              <% if match.user == current_user %>
                <p>Match Capacity: <%= match.capacity %></p>
              <% elsif userparticipants.include?(current_user) %>
                <p>Match Capacity: <%= match.capacity %></p>
              <% else %>
                <p>Match Capacity: <%= match.capacity %></p>
              <% end %>
              <% if userparticipants.include?(current_user) %>
                <div class="status-info">
                  <div class="btn btn-primary"><%= link_to "Check status", mymatches_path %></div>
                  <p><em>requested</em></p>
                </div>
              <% else %>
                <div class="status-info">
                  <div class="btn btn-primary"><%= link_to "Participate", match_participations_path(match), method: :post %></div>
                  <p><em>You created this match</em></p>
                </div>
              <% end %>
          </div>
        <% end %>
      </div>
  <% end %>
  <div><%= link_to "Create a new match", new_match_path %></div>
</div>
