<div class="container">
  <h1>Find a match</h1>
  <% @matches.each do |match| %>
    <div class="card">
      <%=link_to match_path(match), class: "card-trip" do %>
        <p>When? <%= match.start_date %> - <%= match.end_date %><p>
        <p>Where? <%= match.venue.address %><p>
        <p>Match Capacity: <%= match.capacity %></p>
        <div class="btn btn-primary"><%= link_to "Participate", match_participations_path(match), method: :post %></div>
      <% end %>
    </div>
  <% end %>
</div>
<div>
  <%= link_to "Create a new match", new_match_path %>
</div>
