<div class="container">
  <h1>Find a match</h1>
  <% @matches.each do |match| %>
  <div class="card-match">
    <% participations = match.participations %>
    <% userparticipants = [] %>
    <% participations.each do |participation| %>
      <% userparticipants << participation.user %>
    <% end %>
    <%=link_to match_path(match) do %>
      <%= cl_image_tag match.user.photo.key, class: "match-avatar" %>
      <div class="match-info">
        <div class="card-match-infos">
          <h2>Who? <%= match.user.user_name %><h2>
          <p>When? <%= match.start_date %> - <%= match.end_date %><p>
          <p>Where? <%= match.venue.address %><p>
        </div>
        <div class="match-status-info">
          <% if match.user == current_user %>
            <p><em>You created this match</em></p>
            <p>Match Capacity: <%= match.capacity %></p>
          <% elsif userparticipants.include?(current_user) %>
            <p><em>You already requested to play</em></p>
            <div class="btn btn-primary"><%= link_to "Check status", mymatches_path %></div>
            <p>Match Capacity: <%= match.capacity %></p>
          <% else %>
            <div class="btn btn-primary"><%= link_to "Participate", match_participations_path(match), method: :post %></div>
            <p>Match Capacity: <%= match.capacity %></p>
          <% end %>


        </div>
      </div>
  </div>
    <% end %>
  <% end %>
</div>

<div><%= link_to "Create a new match", new_match_path %></div>
