<div class="container">
  <%= render 'map' %>
  <% @matches.each_with_index do |match, ind| %>
      <% participations = match.participations %>
      <% userparticipants = [] %>
      <% participations.each do |participation| %>
        <% userparticipants << participation.user %>
      <% end %>
      <div class="card-match" data-matchId="<%= ind %>">
        <div class="match-host">
          <%= cl_image_tag match.user.photo.key, class: "avatar-bordered-medium" %>
        </div>
        <div class="match">
          <h2><%= match.user.user_name %></h2>
          <div class="index-info">
            <div class="index-svg">
              <%= render"./shared/calender.html.erb"%>
            </div>
            <div class="index-text">
              <p> <%= match.date.strftime("%d.%m.%y") %></p>
            </div>
          </div>
          <div class="index-info">
            <div class="index-svg">
              <%= render"./shared/time.html.erb"%>
            </div>
            <div class="index-text">
              <p> <%= match.start_time.time.to_s(:time) %> - <%= match.end_time.time.to_s(:time) %><p>
            </div>
          </div>
          <div class="index-info">
            <div class="index-svg">
              <%= render"./shared/location.html.erb"%>
            </div>
            <div class="index-text">
              <p><%= match.venue.address %><p>
            </div>
          </div>
        </div>
      </div>
      <div class="match-modal" id="match-modal-<%= ind %>">
        <div class="match-modal-content animate-bottom">
          <%=link_to user_path(match.user) do %>
              <%= cl_image_tag match.user.photo.key, class: "avatar-bordered"%>
          <% end %>
          <div class="index-info">
            <div class="index-svg">
              <%= render"./shared/location.html.erb"%>
            </div>
            <div class="index-text">
              <p><%= match.user.user_name %> is the host</p>
            </div>
          </div>
          <div class="index-info">
            <div class="index-svg">
              <%= render"./shared/calender.html.erb"%>
            </div>
            <div class="index-text">
              <p><%= match.date.strftime("%d.%m.%y") %><p>
            </div>
          </div>
          <div class="index-info">
            <div class="index-svg">
              <%= render"./shared/time.html.erb"%>
            </div>
            <div class="index-text">
              <p><%= match.start_time.time.to_s(:time) %> - <%= match.end_time.time.to_s(:time)%> </p>
            </div>
          </div>
          <div class="index-info">
            <div class="index-svg">
              <%= render"./shared/location.html.erb"%>
            </div>
            <div class="index-text">
              <p><%= match.venue.address %><p>
            </div>
          </div>
          <div class="index-info">
            <div class="index-svg">
              <% if match.capacity == 4 %>
                <%= render"./shared/capacity4.html.erb"%>
              <% else %>
                <%= render"./shared/capacity2.html.erb"%>
              <% end %>
            </div>
            <div class="index-text">
              <p><%= match.capacity %>/<%= userparticipants.length %>: <%=match.capacity - userparticipants.length%> <%= "player".pluralize(match.capacity - userparticipants.length)%> can join</p>
            </div>
          </div>
          <div class="index-info">
            <div class="index-svg">
              <%= render"./shared/speaker.html.erb"%>
            </div>
            <div class="index-text">
              <p><%= match.comment %><p>
            </div>
          </div>
          <p><div class="btn btn-cta"><%=link_to "Ask to Play", match_path(match) %></div></p>
          <span class="match-modal-close" id="match-modal-close-<%= ind %>">&times;</span>
          <br>
        </div>
      </div>
  <% end %>
  <p><div class="btn btn-cta"><%= link_to "Create a new match", new_match_path %></div>
</div>
