<div class="container">
    <% @matches.each do |match| %>
      <%=link_to match_path(match), class: "card-trip" do %>
        <p>When? <%= match.start_date %> - <%= match.end_date %><p>
        <p>Where? <%= match.venue_id %><p>
        <p>Table <%= match.venue_id %><p>
        <p>Match Capacity: <%= match.capacity %></p>
      <% end %>
  <% end %>
</div>
<div>
  <%= link_to "Create a new match", new_match_path %>
</div>
