<div class="container">
  <div id="main_content">
    <div class="tab-header">
      <li class="selected" id="booked" onclick="change_tab(this.id);">Booked matches</li>
      <li class="notselected" id="pending" onclick="change_tab(this.id);">Pending matches</li>
      <li class="notselected" id="created" onclick="change_tab(this.id);">Created matches</li>
    </div>

    <div class="hidden_desc" id="booked_desc">
      <% if @booked.length == 0 %>
        <div class="index-info-empty">
          <p>No upcoming matches</p>
        </div>
        <% else %>
          <% @booked.each do |participation| %>
            <%=link_to match_path(participation.match) do %>
              <div class="card-match">
                <div class="match-host">
                  <%= cl_image_tag participation.match.user.photo.key, class: "avatar-bordered-medium"%>
                </div>
                <div class="match">
                  <div class="index-info">
                    <div class="index-svg">
                      <%= render"./shared/calender.html.erb"%>
                    </div>
                    <div class="index-text">
                      <p><%= participation.match.date.strftime("%d.%m.%y") %></p>
                    </div>
                  </div>
                  <div class="index-info">
                    <div class="index-svg">
                      <%= render"./shared/time.html.erb"%>
                    </div>
                    <div class="index-text">
                      <p><%= participation.match.start_time.time.to_s(:time) %> - <%= participation.match.end_time.time.to_s(:time)%></p>
                    </div>
                  </div>
                  <div class="index-info">
                    <div class="index-svg">
                      <%= render"./shared/location.html.erb" %>
                    </div>
                    <div class="index-text">
                      <p><%= participation.match.venue.address %></p>
                    </div>
                  </div>
                </div>
                <% if participation.match.user != current_user %>
                  <div class="match-status">
                    <%= render"./shared/accepted.html.erb"%>
                  </div>
                <% end %>
                <% if participation.match.user == current_user %>
                  <div class="host-sign">
                    <%= render"./shared/speaker.html.erb" %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
    </div>

    <div class='hidden_desc' id="pending_desc">
        <% if @pendings.length == 0 %>
          <div class="index-info-empty">
            <p>No requested participations</p>
          </div>
        <% else %>
          <% @pendings.each do |participation| %>
            <%=link_to match_path(participation.match) do %>
              <div class="card-match">
                <div class="match-host">
                  <%= cl_image_tag participation.match.user.photo.key, class: "avatar-bordered-medium"%>
                </div>
                <div class="match">
                  <div class="index-info">
                    <div class="index-svg">
                      <%= render"./shared/calender.html.erb"%>
                    </div>
                    <div class="index-text">
                      <p><%= participation.match.date.strftime("%d.%m.%y") %></p>
                    </div>
                  </div>
                  <div class="index-info">
                    <div class="index-svg">
                      <%= render"./shared/time.html.erb"%>
                    </div>
                    <div class="index-text">
                      <p><%= participation.match.start_time.time.to_s(:time) %> - <%= participation.match.end_time.time.to_s(:time)%></p>
                    </div>
                  </div>
                  <div class="index-info">
                    <div class="index-svg">
                      <%= render"./shared/location.html.erb"%>
                    </div>
                    <div class="index-text">
                      <p><%= participation.match.venue.address %></p>
                    </div>
                  </div>
                </div>
                <% if participation.match.user != current_user %>
                  <div class="match-status">
                    <% if participation.status == "accepted" %>
                      <%= render"./shared/accepted.html.erb"%>
                    <% elsif participation.status == "declined" %>
                      <%= render"./shared/declined.html.erb"%>
                    <% elsif participation.status == "pending" %>
                      <%= render"./shared/pending.html.erb"%>
                    <% end %>
                  </div>
                <% elsif participation.match.user == current_user %>
                  <div class="match-status">
                    <%= render"./shared/yourfliq.html.erb"%>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
    </div>

    <div class='hidden_desc' id="created_desc">
      <% if @matches.length == 0 %>
        <div class="index-info-empty">
          <p>No created matches</p>
        </div>
      <% else %>
        <% @matches.each do |match| %>
          <%=link_to match_path(match) do %>
            <div class="card-match" id="createdmatched">
              <div class="match-host">
                <%= cl_image_tag match.user.photo.key, class: "avatar-bordered-medium"%>
              </div>
              <div class="match">
                <div class="index-info-created">
                  <div class="index-svg">
                    <%= render"./shared/calender.html.erb"%>
                  </div>
                  <div class="index-text">
                    <p><%= match.date.strftime("%d.%m.%y") %></p>
                  </div>
                </div>
                <div class="index-info-created">
                  <div class="index-svg">
                    <%= render"./shared/time.html.erb"%>
                  </div>
                  <div class="index-text">
                    <p><%= match.start_time.time.to_s(:time) %> - <%= match.end_time.time.to_s(:time)%></p>
                  </div>
                </div>
                <div class="index-info-created">
                  <div class="index-svg">
                    <%= render"./shared/location.html.erb"%>
                  </div>
                  <div class="index-text">
                    <p><%= match.venue.address %></p>
                  </div>
                </div>
                <div class="index-info-created">
                  <% actualparticipants = [] %>
                  <% match.participations.each do |participation| %>
                    <% if participation.status == "accepted" %>
                      <% actualparticipants << participation.user.user_name %>
                    <% end %>
                  <% end %>
                  <div class="index-svg">
                    <% if match.capacity == 4 %>
                      <% if actualparticipants.length == 1 %>
                        <%= render"./shared/cap41.html.erb"%>
                      <% elsif actualparticipants.length == 2 %>
                        <%= render"./shared/cap42.html.erb"%>
                      <% elsif actualparticipants.length == 3 %>
                        <%= render"./shared/cap43.html.erb"%>
                      <% elsif actualparticipants.length == 4 %>
                        <%= render"./shared/capacity4.html.erb"%>
                      <% end %>
                    <% else %>
                      <% if actualparticipants.length == 1 %>
                        <%= render"./shared/cap21.html.erb"%>
                      <% elsif actualparticipants.length == 2 %>
                        <%= render"./shared/capacity2.html.erb"%>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="index-text">
                    <p>Players: <% actualparticipants.each do |u| %>
                      <%= u %>
                    <% end %></p>
                  </div>
                </div>
              </div>
            <% end %>
            <% if match.participations.where(status: "pending").length != 0%>
              <details>
              <summary class="btn-cta"><%= match.participations.where(status: "pending").length %> <%= "Request".pluralize(match.participations.where(status: "pending").length)%> </summary>
              <div class="requests">
                <% match.participations.each do |participation|%>
                  <% if participation.user != match.user %>
                    <% if participation.status == "pending" %>
                      <div class="request">
                        <p><%= cl_image_tag participation.user.photo.key, class: "avatar-bordered-small" %> <%= participation.user.user_name  %></p>
                        <div class="request-buttons">
                          <%=link_to participation_accept_path(participation), method: :patch, class: "btn-one" do %>
                            <%= render"./shared/accept.html.erb"%>
                          <% end %>
                          <%= link_to participation_decline_path(participation), method: :patch, class: "btn-two" do %>
                            <%= render"./shared/decline.html.erb"%>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              </details>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div id="page_content">
      <% if @booked.length == 0 %>
        <div class="index-info-empty">
          <p>No upcoming matches</p>
        </div>
      <% else %>
        <% @booked.each do |participation| %>
          <%=link_to match_path(participation.match) do %>
            <div class="card-match">
              <div class="match-host">
                <%= cl_image_tag participation.match.user.photo.key, class: "avatar-bordered-medium"%>
              </div>
              <div class="match">
                <div class="index-info">
                  <div class="index-svg">
                    <%= render"./shared/calender.html.erb"%>
                  </div>
                  <div class="index-text">
                    <p><%= participation.match.date.strftime("%d.%m.%y") %></p>
                  </div>
                </div>
                <div class="index-info">
                  <div class="index-svg">
                    <%= render"./shared/time.html.erb"%>
                  </div>
                  <div class="index-text">
                    <p><%= participation.match.start_time.time.to_s(:time) %> - <%= participation.match.end_time.time.to_s(:time)%></p>
                  </div>
                </div>
                <div class="index-info">
                  <div class="index-svg">
                    <%= render"./shared/location.html.erb" %>
                  </div>
                  <div class="index-text">
                    <p><%= participation.match.venue.address %></p>
                  </div>
                </div>
              </div>
              <% if participation.match.user != current_user %>
                <div class="match-status">
                  <%= render"./shared/accepted.html.erb"%>
                </div>
              <% end %>
              <% if participation.match.user == current_user %>
                <div class="host-sign">
                  <%= render"./shared/speaker.html.erb" %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
