<div class="container">
  <div class="show-card">
    <div class="host-img">
      <%=link_to user_path(@match.user) do %>
        <%= cl_image_tag @match.user.photo.key, class: "avatar-bordered"%>
      <% end %>
    </div>
    <div class="click-me">
      <%= render"./shared/clickme.html.erb"%>
    </div>
    <br>
    <div class="show-texts">
      <div class="show-text">
        <div class="show-name">
          <%= render"./shared/calender.html.erb"%>
        </div>
        <p><%= @match.date.strftime("%d.%m.%y")%></p>
      </div>
      <div class="show-text">
        <div class="show-name">
          <%= render"./shared/time.html.erb"%>
        </div>
        <p><%= @match.start_time.time.to_s(:time) %> - <%= @match.end_time.time.to_s(:time) %></p>
      </div>
      <div class="show-text">
        <div class="show-name">
          <%= render"./shared/location.html.erb"%>
        </div>
        <p><%= @match.venue.address %></p>
      </div>
      <div class="show-text">
        <% actualparticipants = [] %>
          <% @match.participations.each do |participation| %>
            <% if participation.status == "accepted" %>
              <% actualparticipants << participation.user.user_name %>
            <% end %>
          <% end %>
        <div class="show-name">
          <% if @match.capacity == 4 %>
            <% if actualparticipants.length == 1 %>
              <%= render"./shared/cap41.html.erb"%>
            <% elsif actualparticipants.length == 2 %>
              <%= render"./shared/cap42.html.erb"%>
            <% elsif actualparticipants.length == 3 %>
              <%= render"./shared/cap43.html.erb"%>
            <% elsif actualparticipants.length == 4 %>
              <%= render"./shared/capacity4.html.erb"%>
            <% end %>
          <% else %>
            <% if actualparticipants.length == 1 %>
              <%= render"./shared/cap21.html.erb"%>
            <% elsif actualparticipants.length == 2 %>
              <%= render"./shared/capacity2.html.erb"%>
            <% end %>
          <% end %>
        </div>
        <p><%= @match.capacity%> Players: <% actualparticipants.each do |u| %>
            <strong><%= u %></strong>
        <% end %></p>
        <p><%= @match.capacity -  actualparticipants.length%> can join!</p>
      </div>
      <% if @userparticipants.include?(current_user) && @match.user != current_user && !@match.full%>
        <div class="show-text">
          <div class="show-name"><p><strong>Status:</strong></p></div>
          <p><%= @current_userparticipation.status %></p>
        </div>
      <% end %>
    </div>
    <% if @userparticipants.include?(current_user) && @match.user != current_user && !@match.full%>
      <div class="btn btn-inactive"><%= link_to "Participate", "#" %></div>
    <% elsif !@userparticipants.include?(current_user) && @match.user != current_user %>
        <div class="btn btn-cta"><%= link_to "Participate", match_participations_path(@match), method: :post %></div>
    <% end %>
    <% if @userparticipants.include?(current_user) && @match.user != current_user%>
        <div class="btn btn-cta"><%= link_to "Can't make it", participation_path(@current_userparticipation), method: :delete %></div>
    <% elsif @match.user == current_user%>
        <div class="btn btn-cta"><%= link_to "Cancel Match", match_path(@match), method: :delete %></div>
    <% end %>
    <% if @match.full? %>
      <% if @match.start_time.past? && @match.score.nil?%>
      <p>Enter your score!</p>
      <% end %>
      <div class="team-display">
        <div class = "team">
          <% @team1.each do |user| %>
            <%= cl_image_tag user.user.photo.key, class: "avatar-bordered-small" %>
          <% end %>
        </div>
        <div class = "versus">
          <p> : </p>
        </div>
        <div class = "team">
          <% @team2.each do |user| %>
            <%= cl_image_tag user.user.photo.key, class: "avatar-bordered-small" %>
          <% end %>
        </div>
      </div>
      <% if @done%>
      <%= simple_form_for [@match, @score] do |f| %>
          <%= f.input :score_a %>
          <%= f.input :score_b %>
          <%= f.submit class:"btn btn-cta" %>
        <% end %>
      <% end %>
    <% end %>
    <br>

    <% @match.reviews.each do |review|  %>
      <% case %>
      <% when review.rating === 1 %>
        <p>Rating ⭐☆☆☆☆</p>
      <% when review.rating === 2 %>
        <p>Rating ⭐⭐☆☆☆</p>
      <% when review.rating === 3 %>
        <p>Rating ⭐⭐⭐☆☆</p>
      <% when review.rating === 4 %>
        <p>Rating ⭐⭐⭐⭐☆ </p>
      <% when review.rating === 5 %>
        <p>Rating ⭐⭐⭐⭐⭐ </p>
      <hr>
      <% end %>
      <% if @done && review.present? == false %>
        <div class="btn btn-cta"><%= link_to 'Leave match review', new_match_review_path(@match) %></div>
      <% else %>
        <div class="btn btn-cta"><%= link_to "Delete Review", review_path(review), method: :delete, data: { confirm: "You really want to delete the review?"}  %></div>
      <% end %>
      <div class="btn btn-cta"><%= link_to 'Back to all matches', matches_path %></div>
    <% end %>
  </div>

<div data-controller="clickable">
      <% if @userparticipants.include?(current_user) && @match.full %>
        <button id="clickme" class="btn btn-primary btn-lg"  data-action="click->clickable#show" data-clickable-target="button">
          Chat!
        </button>

        <div id="chat-form" class="container chatroom d-none" data-clickable-target="chat" >
          <div class="messages" data-controller="chatroom-subscription"
          data-chatroom-subscription-match-id-value="<%= @match.id %>">
            <% @match.messages.each do |message| %>
              <p data-clickable-chatroom-target="item" class="hidden mt-4"><%= render "messages/message", message: message %></p>

            <% end %>
          </div>
          <%= simple_form_for [@match, @message], remote: true do |f|%>
            <%= f.input :content, label: false, placeholder: "type something" %>
          <% end %>
        </div>

      <% end %>
</div>
</div>

</div>
