<div class="container">
  <div class="card">
    <%=link_to user_path(@match.user) do %>
      <%= cl_image_tag @match.user.photo.key, class: "avatar-bordered"%>
    <% end %>
    <p>Date? <%= @match.date.strftime("%d.%m.%y") %><p>
    <p>Time? <%= @match.start_time.time.to_s(:time) %> - <%= @match.end_time.time.to_s(:time) %><p>
    <p>Where? <%= @match.venue.address %><p>
    <p>Capacity <%= @match.capacity %></p>
    <% if @userparticipants.include?(current_user) && @match.user != current_user && !@match.full%>
      <p>Status: <%= @current_userparticipation.status %></p>
      <div class="btn btn-inactive"><%= link_to "Participate", "#" %></div>
    <% elsif !@userparticipants.include?(current_user) && @match.user != current_user %>
        <div class="btn btn-primary"><%= link_to "Participate", match_participations_path(@match), method: :post %></div>
    <% end %>
    <% if @match.full? %>
      <% if @match.start_time.past?%>
      <p>Who won?</p>
      <% end %>
      <div class="team-display">
        <div class = "team">
          <% @team1.each do |user| %>
            <%= cl_image_tag user.user.photo.key, class: "avatar-bordered-small" %>
          <% end %>
        </div>
        <p> vs. </p>
        <div class = "team">
          <% @team2.each do |user| %>
            <%= cl_image_tag user.user.photo.key, class: "avatar-bordered-small" %>
          <% end %>
        </div>
      </div>
      <% if @done%>
      <%= simple_form_for [@match, @score] do |f| %>
          <%= f.input :score_a %>
          <%= f.input :score_b %>
          <%= f.submit class:"btn btn-primary" %>
        <% end %>
      <% end %>
    <% end %>
    <div class="btn btn-primary"><%= link_to "Back to all matches", matches_path %></div>
  </div>
</div>
