<!DOCTYPE html>
<html>
  <head>

    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">

    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <script>
      function change_tab(id) {
        document.getElementById("page_content").innerHTML=document.getElementById(id+"_desc").innerHTML;
        document.getElementById("booked").className="notselected";
        document.getElementById("pending").className="notselected";
        document.getElementById("created").className="notselected";
        document.getElementById(id).className="selected";
      }
    </script>
    <script src="glider.js"></script>
  </head>

  <body>

    <% if params[:action] != "home" %>
      <div class="container">
        <%= render 'shared/navbar' %>
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

  </body>
</html>
